<nav [ngClass]="{'sticky': isSticky}">
    <div class="nav-content">
        <div class="logo">
          <a routerLink="home" routerLinkActive="activebutton"  ariaCurrentWhenActive="page"><span class="my">my</span><span class="portfolio">Portfolio</span></a>
        </div>
          
        <ul class="nav-links">
          <li><a routerLink="home" routerLinkActive="activebutton"  ariaCurrentWhenActive="page">Home</a></li>
          <li><a routerLink="resume"routerLinkActive="activebutton"  ariaCurrentWhenActive="page" >Resume</a></li>
          <li><a routerLink="skills" routerLinkActive="activebutton"  ariaCurrentWhenActive="page">Skills</a></li>
          <li><a routerLink="projects" routerLinkActive="activebutton"  ariaCurrentWhenActive="page">Projects</a></li>
          <li><a routerLink="contact" routerLinkActive="activebutton"  ariaCurrentWhenActive="page">Contact</a></li>
        </ul>
        
  
      <div class="media-icons">
          <a href="https://www.linkedin.com/in/slim-hassen-12b4402bb" target="_blank" rel="noopener noreferrer"><img src="linkedin (2).png" alt="linkedin"></a>
          <a href="https://github.com/hvsssen" target="_blank" rel="noopener noreferrer"><img src="github (1).png" alt="github"></a>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hvsssen7@gmail.com" target="_blank">
            <img src="gmail (2).png" alt="mail"></a>
        </div>
        
  
    </div>
  </nav>
  