<body>
    <div class="container">
        <div class="project">
            <video autoplay muted loop id="background-video">
                <source src="cinema1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="overlay">
                <h3>Jakarta EE Cinema Reservation Web App</h3>
                <p>Cinema Reservation App With CRUD.</p>
                <a href="https://github.com/hvsssen/CinemaReservationJavaJEE" target="_blank">Github repository</a>
            </div>
        </div>
        <div class="project">
            <img src="searchengine.jpg" alt="autowaid">
            <div class="overlay">
                <h3>Java Search Engine</h3>
                <p>A simple search engine built in Java, focusing on indexing and searching text-based data efficiently using algorithms like keyword matching and ranking.</p>
                <a href="https://github.com/hvsssen/Search-engine" target="_blank">Github repository</a>
            </div>
        </div>
        
        <div class="project">
            <img src="autowaid1.jpg" alt="autowaid">
            <div class="overlay">
                <h3>Flutter Towing Services App</h3>
                <p>Currently working on a mobile application built with Flutter to connect users with nearby towing services, helping in emergencies on the road. The app is still in development.</p>
                <a href="" target="_blank">Github repository</a>
            </div>
        </div>
        
        <div class="project">
            <img src="todolist.png" alt="todolist">
            <div class="overlay">
                <h3>Django ToDoList</h3>
                <p>A simple To-Do List app built with Django that allows users to manage tasks with features like adding, editing, and deleting tasks.</p>
                <a href="https://github.com/hvsssen/todolistdjangoapp" target="_blank">Github repository</a>
            </div>
        </div>
        
        <div class="project">
            <img src="network.png" alt="networking">
            <div class="overlay">
                <h3>Network Simulations</h3>
                <p>Simulations of network configurations and device setups, providing insights into network topologies and communication protocols.</p>
            </div>
        </div>

        <div class="project">
            <img src="banque.jpg" alt="banque">
            <div class="overlay">
                <h3>Java Bank</h3>
                <p>A simple banking application built with Java, allowing users to manage accounts, transfer funds, and view transaction history. The project focuses on object-oriented programming and data management principles.</p>
                <a href="https://github.com/hvsssen/Banquejava" target="_blank">Github repository</a>
            </div>
        </div>
    </div>
</body>
