<section class="skills" id="skills">
    <div class="content">
      <div class="title"><span>Soft Skills</span></div>
      <div class="skills-details">
        <div class="left">
          <img src="softskills.png" alt="" />
        </div>
        <div class="right">
            <p class="soft-skills-text">
                I am a highly adaptable and proactive individual with strong problem-solving skills and a passion for continuous learning. My ability to communicate effectively allows me to collaborate seamlessly in diverse teams, fostering a positive and productive work environment. I thrive under pressure, maintaining a solution-oriented mindset even in challenging situations. With a strong sense of organization and attention to detail, I efficiently manage tasks and deadlines. My leadership skills, honed over 10 years as captain of my basketball team, enable me to take initiative, while my empathy and active listening help build meaningful connections with colleagues and clients. I am always eager to learn, grow, and contribute to innovative projects that make an impact.          </p>
          <div class="button">
            <a href="CV.pdf" download="CV.pdf">
                <button>Download CV</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  
  <section class="skills" id="skills">
    <div class="content">
        <div class="title"><span>Hard Skills</span></div>
        <div class="skills-details">
            <div class="left">
                <img src="hardskills.png" alt="Hard Skills" />
            </div>
            <div class="right">
                <div class="skills-grid">
                    <div class="skill">
                        <img src="java.png" alt="Java">
                        <span>Java</span>
                    </div>
                    <div class="skill">
                        <img src="c.png" alt="C++">
                        <span>C</span>
                    </div>
                    <div class="skill">
                        <img src="c-.png" alt="C">
                        <span>C++</span>
                    </div>
                    <div class="skill">
                        <img src="c-sharp.png" alt="c-sharp">
                        <span>C#</span>
                    </div>
                    <div class="skill">
                        <img src="python.png" alt="Python">
                        <span>Python</span>
                    </div>
                    
                    <div class="skill">
                        <img src="html.png" alt="HTML">
                        <span>HTML</span>
                    </div>
                    <div class="skill">
                        <img src="css.png" alt="CSS">
                        <span>CSS</span>
                    </div>
                    <div class="skill">
                        <img src="js.png" alt="JavaScript">
                        <span>JavaScript</span>
                    </div>
                    <div class="skill">
                        <img src="flutter.png" alt="flutter">
                        <span>Flutter</span>
                    </div>
                    
                    <div class="skill">
                        <img src="angular.png" alt="Angular">
                        <span>Angular</span>
                    </div>
                    <div class="skill">
                        <img src="spring-boot.png" alt="SpringBoot">
                        <span>SpringBoot</span>
                    </div>
                    <div class="skill">
                        <img src="node.png" alt="Node.js">
                        <span>Node.js</span>
                    </div>
                    <div class="skill">
                        <img src="social.png" alt=".net">
                        <span>.NET</span>
                    </div>
                    <div class="skill">
                        <img src="oracle.png" alt="OracleExpress">
                        <span>OracleExpress</span>
                    </div>
                    <div class="skill">
                        <img src="mysql.png" alt="MySQL">
                        <span>MySQL</span>
                    </div>
                    
                    <div class="skill">
                        <img src="git.png" alt="git">
                        <span>Git</span>
                    </div>
                    
                    <div class="skill">
                        <img src="github (3).png" alt="github">
                        <span>Github</span>
                    </div>
                    <div class="skill">
                        <img src="cisco.png" alt="cisco">
                        <span>Cisco packet tracer</span>
                    </div>
                    <div class="skill">
                        <img src="gns3.png" alt="gns3">
                        <span>GNS3</span>
                    </div>
                    <div class="skill">
                        <img src="huawei1.png" alt="huawei">
                        <span>Huawei Ensp</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
