<section class="about" id="about">
    <div class="content">
      <div class="title"><span>About Me</span></div>
      <div class="about-details">
        <div class="left">
          <img src="me11.jpg" alt="" />
        </div>
        <div class="right">
            <div class="topic">Computer Science Engineering Student at <a href="https://enit.rnu.tn" target="_blank">ENIT</a></div>
            <p>
                Hi, I'm Hassen, a passionate and dedicated engineering student at the École Nationale d'Ingénieurs de Tunis. With a strong foundation in software development and networking, I’m continuously learning and building expertise in full-stack web and mobile app development, using technologies like Angular, Spring Boot, and Flutter to create innovative and efficient solutions.

                Beyond coding, I have a deep passion for networking, exploring how systems communicate, securing infrastructures, and optimizing connectivity. My experience spans various projects, including task management systems, search engines, and mobile applications for real-world problem-solving.
                
                I am always eager to learn, improve, and explore new technologies, with a keen interest in DevOps, cloud computing, and networking . Driven by curiosity and a problem-solving mindset, I strive to develop impactful digital solutions and robust network infrastructures that enhance businesses, improve user experiences, and contribute to technological advancements.
          </p>
          <br>
          <div class="topic">Certifications:</div>
            <p>
                I have completed the following certifications:</p>
          <div class="button">
            <a href="https://www.credly.com/badges/41595ebc-5c8d-4e07-8ffe-b8c5c4379e00/linked_in?t=squyq5" target="_blank" rel="noopener noreferrer">
            <button>CCNA ITN </button>
            </a>
            <a href="https://learn.365datascience.com/certificates/CC-2199F467D2/" target="_blank" rel="noopener noreferrer">
                <button>Git/Github </button>
            </a>
            
            <a href="https://learn.microsoft.com/fr-fr/users/hassenslim-9939/achievements/yq3bz4pr?ref=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank" rel="noopener noreferrer">
                <button>Devops Basics </button>
            </a>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="education" id="education">
    <div class="content">
        <div class="title"><span>My Education</span></div>
        <div class="education-details">
            <br>
            
            <ul>
                <li style="--accent-color:#41516C">
                    <div class="date">2020 - 2021</div>
                    <div class="title">Baccalaureate in Mathematics</div>
                    <div class="descr">Graduated from <a  href="https://www.facebook.com/lycee2mars1934ksarhellal/" target="_blank">Lycée 2 Mars 1934 Ksar Hellal</a>, Monastir, Tunisia.</div>
                </li>
                <li style="--accent-color:#FBCA3E">
                    <div class="date">2021 - 2022</div>
                    <div class="title">First Year of Preparatory Classes</div>
                    <div class="descr">Studied Mathematics and Physics at <a href="https://ipein.rnu.tn/" target="_blank">IPEIN (Institut Préparatoire aux Études d'Ingénieur de Nabeul)</a>.</div>
                </li>
                <li style="--accent-color:#E24A68">
                    <div class="date">2022 - 2023</div>
                    <div class="title">Second Year of Preparatory Classes</div>
                    <div class="descr">Completed studies at <a href="http://www.ipeiem.rnu.tn/" target="_blank">IPEIEM (Institut Préparatoire aux Études d'Ingénieur de Monastir)</a> and ranked 378 in the national entrance exam.</div>
                </li>
                <li style="--accent-color:#1B5F8C">
                    <div class="date">2023 - 2024</div>
                    <div class="title">First Year in Software Engineering</div>
                    <div class="descr">Started engineering studies at <a href="http://www.enit.rnu.tn/" target="_blank">ENIT (École Nationale d'Ingénieurs de Tunis)</a>.</div>
                </li>
                <li style="--accent-color:#4CADAD">
                    <div class="date">2024 - 2025</div>
                    <div class="title">Second Year in Software Engineering (Completed)</div>
                    <div class="descr">Successfully completed the second year of Software Engineering studies at <a href="http://www.enit.rnu.tn/" target="_blank">ENIT (École Nationale d'Ingénieurs de Tunis)</a>.</div>
                </li>
                <li style="--accent-color:#28A745">
                    <div class="date">2025 - 2026</div>
                    <div class="title">Third Year in Software Engineering (Final Year)</div>
                    <div class="descr">Currently pursuing the final year of Software Engineering degree at <a href="http://www.enit.rnu.tn/" target="_blank">ENIT (École Nationale d'Ingénieurs de Tunis)</a>.</div>
                </li>
            </ul>
            
        </div>
    </div>
</section>
