<section class="home" id="home">
    <div class="home-content">
        <div class="text">
          <div class="text-one">Hello,</div>
          <div class="text-two">I'm Slim Hassen</div>
          <div class="text-three">Computer Science Engineering Student</div>
          <div class="text-four">From Tunisia</div>
        </div>
        
        <div class="button">
            <a href="CV.pdf" download="CV.pdf">
                <button>Download CV</button>
            </a>
        </div>
      </div>
    <video #videoElement autoplay muted loop id="background-video">
        <source src="11.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
  </section>